
 <nav class="navbar navbar-expand-lg navbar-dark bg-success">
         <div class="container">
        <a class="navbar-brand disabled" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
            <a class="nav-link disabled" href="doctors/welcome">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/">Find-Doctors</a>
            </li>
            
            <li class="nav-item">
            <a class="nav-link" href="/doctors">Doctors</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/doctors/add">Add Doctors</a>
            </li>
           
            <li>
                <a href="/users/logout" class="btn btn-outline-secondary">Logout</a>
            </li>
        
        </ul>
        </div>
    </div>    
  </nav>
  
  <div class="jumbotron jumbotron-fluid bg-success">
    <div class="container text-dark">
      <h1 class="display-4">Welcome to Doctor Proctor <i class="fas fa-user-md"></i></h1>
      <p class="lead">Our goal is to provide you with the best set of options, so you don't feel cheated.</p>

    <section id="search" class="search-wrap">
    <h1>Find A Doctor</h1>
     <div class="row">
       <div class="col-md-6">        
            <form action="/doctors/search" class="search-form form-inline">
                <div class="form-group">
                    <input class="form-control" type="search" name="term" placeholder="Cardiology, Family Practice,General Surgery, etc...">
                    <button type="submit" class="btn btn-primary"  value="Search">Submit</button>
                </div>   
                   
            </form>
       </div> 
       </div>        
  </section>
    </div>
  </div>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                Search doctors by Specility!
                </div>
                <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <ul>
                            <li><a href="/doctors/search?term=cardiology">Cardiology</a></li>
                        </ul>
                        <ul>
                            <li><a href="/doctors/search?term=dermatology">Dermatology</a></li>
                        </ul>
                        <ul>
                            <li><a href="/doctors/search?term=family+practice">Family Practice</a></li>
                        </ul>
                        <ul>
                            <li><a href="/doctors/search?term=gastroenterology">Gastroenterology</a></li>
                        </ul>
                        <ul>
                            <li><a href="/doctors/search?term=general+surgery">General Surgery</a></li>
                        </ul>
                        <ul>
                            <li><a href="/doctors/search?term=infectious+disease"> Infectious Disease</a></li>
                        </ul>
                        
                       
                    </div>
                    <div class="col-md-4">
                        <ul>
                            <li><a href="/doctors/search?term=internal+medicine">Internal Medicine</a></li>
                        </ul>
                        <ul>
                            <li><a href="/doctors/search?term=neonatology">Neonatology</a></li>
                        </ul>
                        <ul>
                            <li><a href="/doctors/search?term=neurology">Neurology</a></li>
                        </ul>
                        <ul>
                            <li><a href="/doctors/search?term=neurosurgery">Neurosurgery</a></li>
                        </ul>
                        <ul>
                            <li><a href="/doctors/search?term=obstetrics+&+gynecology">Obstetrics & Gynecology</a></li>
                        </ul>

                    </div>
                    <div class="col-md-4">
                        <ul>
                            <li><a href="/doctors/search?term=orthopedics">Orthopedics</a></li>
                        </ul>
                        <ul>
                            <li><a href="/doctors/search?term=pediatrics">Pediatrics</a></li>
                        </ul>
                        <ul>
                            <li><a href="/doctors/search?term=pediatric+surgery">Pediatric Surgery</a></li>
                        </ul>
                        <ul>
                            <li><a href="/doctors/search?term=psychiatry">Psychiatry</a></li>
                        </ul>
                        <ul>
                            <li><a href="/doctors/search?term=radiology">Radiology</a></li>
                        </ul>
                        <ul>
                            <li><a href="/doctors/search?term=urology">Urology</a></li>
                        </ul>

                    </div>

                </div>
                </div>
            </div>
        </div> 
        <div class="col-md-3">
            <img class="w-100 float-right" src="assets/doctors2.png" alt="doctor gesutring towards options">
        </div>   
    </div>    
</div>        